# Git is dumb as hell and start converting line breaks in binary files and such
# so we don't use this shit anymore.
# * text eol=lf

# Because git was extremely dumb and tried to convert CR-LF to LF in PNG files
*.png binary
