.container {
  display: flex;
  flex-direction: column;

  flex: 0 0 32rem;
  width: 32rem;
}

.header {
  flex: 0 0 auto;
  border-left: 1px solid rgba(0, 0, 0, 0.25);

  padding: 0.4rem 0.8rem;
  background: rgba(0,0,0,0.5);
}

.messages {
  flex: 1 1 auto;
  border-left: 1px solid rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: visible;
}

.message {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;

  &:focus {
    outline: 0;
    background: #333;
    background: rgba(255, 255, 255, 0.03);
  }

  hr {
    border: 0;
    height: 1px;
    background: #fff;
    position: relative;

    color: #fff;
    font-size: 0.825em;
    line-height: 1em;

    margin: 2rem 0 2rem 5em;
    &:before {
      content: 'Box Break';
      position: absolute;
      top: -0.5em;
      left: -5em;
    }
  }
}

.messageHeader {
  position: sticky;
  top: 0;
  z-index: 1;

  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: rgba(0,0,0,0.5);
}

.messageContent {
  padding: 1rem;
  line-height: 1.25em;
  white-space: pre-wrap;
  font-family: var(--preview-font);
}
