.search {
  width: 100%;
  background: transparent;

  padding: 1rem;

  outline: 0;
  border: 0;
  border-radius: 0;

  color: #fff;
}

.results {
  background: #111;
  display: flex;
  flex-direction: column;

  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  &:not(:empty) {
    border-top: 1px solid #111;
  }
}

.result {
  display: block;
  background: #222;
  color: #fff;
  cursor: pointer;

  &:focus {
    outline: 0;
    background: #333;
  }

  hr {
    border: 0;
    height: 1px;
    background: #fff;
    position: relative;

    color: #fff;
    font-size: 0.825em;
    line-height: 1em;

    margin: 2rem 0 2rem 5em;
    &:before {
      content: 'Box Break';
      position: absolute;
      top: -0.5em;
      left: -5em;
    }
  }
}

.resultHeader {
  position: sticky;
  top: 0;
  z-index: 1;

  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: #111;
}

.resultContent {
  padding: 1rem;
  line-height: 1.25em;
  white-space: pre;
  font-family: var(--preview-font);
}
