:root {
  --preview-font: 'FOT-Chiaro Std', Roboto;
  --color-primary: #2a2a2a;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  background: var(--color-primary);
}

#react-container {
  height: 100%;
}

:root {
  --scroll-background: rgba(255, 255, 255, 0.05);
  --scroll-color: rgba(255, 255, 255, 0.15);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-background);
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: 0;
  background: var(--scroll-color);
  background-clip: content-box;

  &:vertical:active,
  &:horizontal:active {
    border-radius: 0;
    border-width: 0;
  }
}

::-webkit-scrollbar-corner {
  background: var(--scroll-background);
}
